@import "../../../styles/variables.scss";

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 0.75rem; // 12px → 0.75rem
  font-weight: 500;
  margin: 0.3125rem 0.5rem; // 5px 8px → 0.3125rem 0.5rem

  .breadcrumb-link {
    text-decoration: none;
    color: $gray-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb-active {
    font-weight: bold;
    color: $black-color;
  }

  span {
    margin: 0 0.3125rem; // 0 5px → 0 0.3125rem
  }
}
