@import "../../../../styles/variables.scss";

/* Botões Específicos */
.btn.cleanbtn {
  background-color: #fff;
  color: #333;
}

.btn.submitaction {
  background-color: $primary-color;
  color: #fff;
}

.btn.cleanbtn:hover {
  filter: brightness(0.90);
}

.btn.submitaction:hover {
  filter: brightness(1.2);
}

/* Ações específicas do componente */
.actions {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin-top: 15px;
}
