@import "../../../../styles/variables.scss";

.center{
    text-align: center;
}

h1{
    color: $primary-color;
    font-size: 18px;
    font-family: $montserrat-primary-font;
    font-weight: 600;
}
.container {
    margin: 20px auto;
    padding: 20px;
  }
  
  .formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .coluna {
    flex: 1;
    min-width: 250px;
  }
  
  h2 {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .radio-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn.limpar {
    background-color: #f1f1f1;
    color: #333;
  }
  
  .btn.submeter {
    background-color: #007bff;
    color: #fff;
  }