<header>
    <section class="header-left">
        <!-- Logo -->
        <a rou><img src="assets/svg/logo_tysa.svg" alt="Logo TYSA"></a>
        <!-- Navegação (pode ser adicionada no futuro) -->
        <app-navbar></app-navbar>
    </section>

    <section class="header-right">
        <button type="button" class="button-icon">
            <img src="assets/svg/notifications_30dp_FFFFFF.svg" alt="Notification Icon">
        </button>
            <div class="user-profile">
                <button type="button" class="button-icon" id="person-icon">
                    <img src="assets/svg/person_30dp_FFFFFF.svg" alt="Person Icon">
                </button>
                <span class="user-name">User2515</span>
            </div>
    </section>
</header>
