<section class="conteiner">
    <h1 class="center">CNG Pré Existente</h1>
    <span>stepper</span>

    <section class="filter">

        <div>
            <h2>Filtro</h2>
        </div>
        <div>
            <h2>Bilhete de Portabilidade</h2>
            <form action="" name="formBilhetePortabilidade">
                <label for="cn">CN</label>
                <input type="text" name="CN" id="cn">

                <label for="numero">Número</label>
                <input type="text" name="Número" id="numero">

                <label for="mcdu">MCDU</label>
                <input type="text" name="MCDU" id="mcdu">
            </form>
            <button type="button">Limpar Filtro</button>
            <button type="submit">Pesquisar</button>
        </div>
    </section>

    <section class="table">
    </section>
</section>